.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1090px;
    padding: 0 16px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  outline: none;
  border: none;
}
hr{
  height: 1;
  color: $black;
  width: 536px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
h1{
  margin-top: 36px;
  font-family: "Montserrat Alternates";
font-weight: 400;
font-size: 24px;

text-align: center;
}
main{
  background-image:url("/src/images/Group141.png");
  background-repeat:no-repeat ;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body.light-mode {
  background-color: white;
  color: black;
}
body.dark-mode {
  background-color: rgb(111, 111, 111);
  color: white;
}  