<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__container ">
      <input
        type="number"
        id="number1"
        class="calculator__put_num_1"
        placeholder="Введіть число"
      />
      <div class="calculator__operations_div">
        <ul class="calculator__operations">
          <li class="calculator__operation calculator__plus">
            <button class="calculator__operation_btn">
              <i class="calculator__operation--icon fa-solid fa-plus"></i>
            </button>
          </li>
          <li class="calculator__operation calculator__multiply">
            <button class="calculator__operation_btn">
              <i class="calculator__operation--icon fa-solid fa-xmark"></i>
            </button>
          </li>
        </ul>
        <ul class="calculator__operations">
          <li class="calculator__operation calculator__subtract">
            <button class="calculator__operation_btn">
              <i class="calculator__operation--icon fa-solid fa-minus"></i>
            </button>
          </li>
          <li class="calculator__operation calculator__divide">
            <button class="calculator__operation_btn">
              <i class="calculator__operation--icon fa-solid fa-divide"></i>
            </button>
          </li>
        </ul>
      </div>
      <input
        type="number"
        id="number2"
        class="calculator__put_num_2"
        placeholder="Введіть число"
      />
      <button class="calculator__operation_btn calculator__operation_equal">
        <i class="calculator__operation--icon fa-solid fa-equals"></i>
      </button>
      <div class="calculator__result">Результат</div>
    </div>
  </div>
</section>
