<section class="dino-section all" data-type="Ігровий">
  <h2 class="dino-title">Google динозавр</h2>
  <div class="dino-game">
    <img
      class="dino-game__dino dino"
      src="./images/dinosaur/dino.png"
      alt="dino"
    />
    <img
      class="dino-game__dino dino-lose"
      src="./images/dinosaur/dino-dead.png"
      alt="dino"
    />
    <img
      class="dino-game__dino dino-run1"
      src="./images/dinosaur/dino-run1.png"
      alt="dino"
    />
    <img
      class="dino-game__dino dino-run2"
      src="./images/dinosaur/dino-run2.png"
      alt="dino"
    />
    <img
      class="dino-game__cactus"
      src="./images/dinosaur/cactus.png"
      alt="cactus"
    />
    <div class="dino-game__ground" id="ground1"></div>
    <div class="dino-game__ground" id="ground2"></div>
    <img
      class="dino-game__restart"
      src="./images/dinosaur/reset.png"
      alt="restart"
    />
    <img
      class="dino-game__over"
      src="./images/dinosaur/game-over.png"
      alt="game over"
    />
    <div class="dino-container__points">
      <p class="dino-game__hi">HI 00000</p>
      <p class="dino-game__points">00000</p>
    </div>
  </div>
</section>
