<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <img
        class="footer__img_logo"
        src="./images/footer_img_logo.png"
        alt="footer_img_logo"
      />
      <div class="footer__socials">
        <ul class="footer__social">
          <li class="footer__tel footer__item">
            <p class="footer__tel_item">Тел: +38 (123) 456 78 90</p>
          </li>
          <li class="footer__email footer__item">
            <p class="footer__email">E-Mail:&nbsp;</p>
            <a
              class="footer__email_item"
              href="https://mail.google.com/mail/u/0/"
              >codingmagic@gmail.com</a
            >
          </li>
          <li class="footer__facebook footer__item">
            <p class="footer__facebook">Facebook:&nbsp;</p>
            <a class="footer__facebook_item" href="https://www.facebook.com/">
              CodingMagic</a
            >
          </li>
          <li class="footer__twitter footer__item">
            <p class="footer__twitter">Twitter:&nbsp;</p>
            <a class="footer__twitter_item" href="https://x.com/?lang=en">
              CodingMagic</a
            >
          </li>
          <li class="footer__instagram footer__item">
            <p class="footer__instagram">Instagram:&nbsp;</p>
            <a class="footer__instagram_item" href="https://www.instagram.com/">
              CodingMagic</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__email_btn_p">
        <div class="footer__email_btn">
          <input
            id="emailInput"
            class="footer__email_type"
            type="email"
            placeholder="Ваша ел. адреса..."
          />
          <button id="footerBtn" class="footer__btn">Підписатись</button>
        </div>
        <p class="footer__p">
          *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>
