<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <img
        class="footer__img_logo"
        src="./images/footer_img_logo.png"
        alt="footer_img_logo"
      />
      <ul class="footer__social">
        <li class="footer__tel footer__item">
          <p class="footer__tel_item">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__email footer__item">
          <p class="footer__email_item">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__facebook footer__item">
          <p class="footer_facebook_item">Facebook: CodingMagic</p>
        </li>
        <li class="footer__twitter footer__item">
          <p class="footer__twitter_item">Twitter: CodingMagic</p>
        </li>
        <li class="footer__instagram footer__item">
          <p class="footer__instagram_item">Instagram: CodingMagic</p>
        </li>
      </ul>
      <div class="footer__email_btn_p">
        <div class="footer__email_btn">
            <input
            class="footer__email_type"
            type="email"
            placeholder="Ваша ел. адреса..."
          />
          <button id="footerBtn" class="footer__btn">Підписатись</button>
        </div>
        <p class="footer__p">
          *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>