<div id="footerModals " class="modal-js is__hidden">
  <div class="footer_modal">
    <div class="footer_modal__block">
      <button class="footer_modal__close">
        <img id="footer_modal__cross" src="./images/cross.svg" alt="cross" />
      </button>
      <h3 class="footer_modal__title">Дякую за підписку!</h3>
      <div class="footer_modal__img">
        <div class="modal__img-left">
          <img
            class="footer_modal__img-left-top"
            src="./images/sword.svg"
            alt="sword"
          />
          <img
            class="footer_modal__img-left-botom"
            src="./images/puzzle.svg"
            alt="puzzle"
          />
        </div>
        <div class="footer_modal__img-right">
          <img
            class="footer_modal__img-right-top"
            src="./images/game-development.svg"
            alt="game-development"
          />
          <img
            class="footer_modal__img-right-botom"
            src="./images/tic-tac-toe.svg"
            alt="tic-tac-toe"
          />
        </div>
      </div>
    </div>
  </div>
</div>
