<section class="guessTheNumber all "  data-type="Числовий" >

  <div class="container" style="margin-bottom: 36px;">
    <h2 class="guessTheNumber__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="guessTheNumber__info">
      <div class="guessTheNumber__box--input">
        <input
          type="number"
          class="guessTheNumber__input"
          placeholder="Введіть число"
        />
        <button class="guessTheNumber__btn--input">
          <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
        </button>
      </div>

      <p class="guessTheNumber__result">
        <span style="color: #5ABB58">ПЕРЕМОГА</span>&nbsp;чи&nbsp;<span style="color: red;">ПРОГРАШ</span>
    </p>
    
    
    </div>
  </div>  
  <hr>
</section>
