<section class="guessTheNumber">
  <div class="container">
    <h2 class="guessTheNumber__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="guessTheNumber__info">
      <input
        type="number"
        class="guessTheNumber__input"
        placeholder="Введіть число"
      />
      <button class="guessTheNumber__btn--input">
        <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
      </button>
      <p class="guessTheNumber__result">Вітаю, ви вгадали число! </p>
    </div>
   
  </div>
</section>
