<div class="header">
    <div class="container">
      <div class="header__block">
        <div class="header__right">
          <div class="header__logo">
            <img src="./images/Header-logo.svg" alt="header-logo" />
          </div>
          <div class="header__nav">
            <ul class="header__list">
              <li class="header__item">
                <div class="header__dropdown">
                  <h3 class="header__title header__cursor">Інтерактив</h3>
                  <img
                    class="header__arrow"
                    src="./images/Header-arrow.svg"
                    alt="header-arrow"
                  />
                </div>
                <ul class="header__menu is__hidden">
                  <li class="header__menu-item header__title header__cursor">
                    Всі секції
                  </li>
                  <li class="header__menu-item header__title header__cursor">
                    Числовий
                  </li>
                  <li class="header__menu-item header__title header__cursor">
                    Ігровий
                  </li>
                  <li class="header__menu-item header__title header__cursor">
                    Ознайомчий
                  </li>
                </ul>
              </li>
              <li class="header__item">
                <h3 class="header__title header__cursor">Наша команда</h3>
              </li>
              <li class="header__item">
                <h3 class="header__title header__cursor">Контакти</h3>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__left">
          <div class="switch">
            <div class="switch-handle">
              <img class="icon icon-on" src="./images/Swich_sun.svg" alt="On" />
              <img class="icon icon-off" src="./images/Swich_night.svg" alt="Off" />
            </div>
          </div>
          <div class="header__name">
            <h3 class="header__title header__hi-menu">
              Вітаємо, <span id="userName">User</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
