<section class="leap-year all"  data-type="Числовий">

    <div class="container leap-year__container">
        <div class="leap-year__info">
            <h4 class="leap-year__main--text">Перевір в який рік ти народився</h4>
        </div>
        <div class="leap-year__box">
          <label>
            <input type="number" class="leap-year__input" id="input" min="1" max="2024" placeholder="Введіть рік народження">
            <button class="leap-year__search" id="check"><i class="fa-solid fa-magnifying-glass" style="color: white"></i></button>
          </label>
          <p class="leap-year__output" id="output"></p>
        </div>
    </div>

<hr>
</section>