<div class="backdrop " id="myModal">
    <div class="modal">
        <div class="modal__block">
            <div class="modal__close" id="closeModalBtn">
                <img src="./images/X.svg" alt="X" />
            </div>
            <div class="modal__main">
                <div class="modal__block-text">
                    <p class="modal__text">
                        Привіт!<br />
                        Ви потрапили на сайт інтерактивних ігор та завдань<br />
                        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br />
                        Бажаємо Вам гарно провести час!
                    </p>
                </div>
                <h4 class="modal__text modal__title">Введіть своє ім’я:</h4>
                <input class="modal__form-input" id="userInput" placeholder="Ваше ім’я..." />
                <button class="modal__box-btn" id="saveModalBtn">
                    <h4 class="modal__box-btn--title">Зберегти</h4>
                </button>
            </div>
        </div>
        <div class="modal__img">
            <div class="modal__img-left">
                <img class="modal__img-left-top" src="./images/sword.svg" alt="sword" />
                <img class="modal__img-left-bottom" src="./images/puzzle.svg" alt="puzzle" />
            </div>
            <div class="modal__img-right">
                <img class="modal__img-right-top" src="./images/game-development.svg" alt="game-development" />
                <img class="modal__img-right-bottom" src="./images/tic-tac-toe.svg" alt="tic-tac-toe" />
            </div>
        </div>
    </div>
</div>