<section class="ourTeam all" data-type="Ознайомчий">
    <hr>
    <div class="slider">
        <div class="slides">
            <div class="slide">
                <img class="ourTeam__img" src="./images/Kostya.png" alt="Kostya">
                <h2>Костя</h2>
                <p>   PM/14/header/scientist/Our Team</p>
            </div>
            <div  class="slide">
                <img class="ourTeam__img" src="./images/Vyacheslav.png" alt="Image 2">
                <h2>В'ячеслав</h2>
                <p>PM/14/header/scientist/Our Team</p>
            </div>
            <div class="slide">
                <img class="ourTeam__img" src="./images/Adriana.png" alt="Image 3">
                <h2>Адріана</h2>
                <p> 15/Google dinosaur/Stone - knives - paper</p>
            </div>
            <div class="slide">
                <img class="ourTeam__img" src="./images/Mykhailo.png" alt="Image 4">
                <h2 class="ourTeam_title">Михайло</h2>
                <p>QA/&/Footer/Three numbers/Calculator</p>
            </div>
            <div class="slide">
                <img  class="ourTeam__img" src="./images/petruxa.png" alt="Image 5">
                <h2>Ростик</h2>
                <p>15/Football/Leap year</p>
            </div>
        </div>
        <button style="width: 50; height: 100;" class="prev" onclick="changeSlide(-1)"></button>
        <button style="width: 50; height: 100;"  class="next" onclick="changeSlide(1)">&#10095;</button>
  
</body>
</html>

  </section>