<section class="scientist">
    <div class="inner-container">
      <h2 class="scientist__title title">Обери вченого/их</h2>
      <ul class="scientist-list">
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
        <li class="scientist-list__item">
          <div class="whole-name">
            <p id="name"></p>
            <p id="surname"></p>
          </div>
          <div class="date">
            <p class="birthYear"></p>
            <p class="deathYear"></p>
          </div>
        </li>
      </ul>
  
      <ul class="facts-list">
        <li class="facts-list__item" >
          <button type="button" class="facts-list__btn" data-value="birth" >Які вчені народилися в 19 ст.</button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" data-value="einstein">Знайти рік народження Albert Einshtein</button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" data-value="alphabet">Відсортувати вчених за алфавітом</button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" data-value="find-c">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" >
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" data-value="delete-a">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn">Знайти вченого, який народився найпізніше</button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="facts-list__item">
          <button type="button" class="facts-list__btn" data-value="surname-name">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
    </div>
  </section>
  