<section class="scientist all" data-type="Ознайомчий">
  <hr>
  <div class="inner-container container">
    <h2 class="scientist__title title">Обери вченого/их</h2>
    <ul class="scientist__list">
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
      <li class="scientist__list-item">
        <div class="whole-name">
          <p class="name"></p>
          <p class="surname"></p>
        </div>
        <div class="date">
          <p class="birthYear"></p>
          <p class="deathYear"></p>
        </div>
      </li>
    </ul>

    <ul class="fact__list">
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="19th-century">
          Які вчені народилися в 19 ст.
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="einstein">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="ABC">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="firstName-c">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="yearsSort">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="delete-a">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="earlyYears">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="fact__list-item">
        <button
          type="button"
          class="fact__list-btn"
          data-value="longestAndSmallestYears"
        >
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="fact__list-item">
        <button type="button" class="fact__list-btn" data-value="surnamesMatch">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
