<section class="stone-section">
  <h2 class="stone-title">Камінь-ножиці-папір</h2>
  <div class="cards-container">
    <li class="cards-list">
      <ul class="cards-list__item">
        <div class="cards">
          <img class="cards__img" src="./images/stone.svg" alt="stone">
        </div>
      </ul>
      <ul class="cards-list__item">
        <div class="cards">
          <img class="cards__img" src="./images/scissors.svg" alt="scissors">
        </div>
      </ul>
      <ul class="cards-list__item">
        <div class="cards">
          <img class="cards__img" src="./images/paper.svg" alt="paper">
        </div>
      </ul>
    </li>
  </div>
  <button class="stone-btn" type="button">Варіант комп’ютера</button>
  <ul class="list-score">
    <li class="list-score__item">
      <p class="stone-score">Рахунок:</p>
    </li>
    <li class="list-score__item">
      <p class="stone-computer">Комп’ютер - 0</p>
    </li>
    <li class="list-score__item">
      <p class="stone-you">Ви - 0</p>
    </li>
  </ul>
</section>
