<section class="stone-section">
    <h2 class="stone-title">Камінь-ножиці-папір</h2>
    <div class="cards-container">
        <li class="cards-list">
            <ul class="cards-list__item">
                <div class="cards">
                    <img class="cards__image" src="" alt="">
                </div>
            </ul>
            <ul class="cards-list__item">
                <div class="cards">
                    <img class="cards__image" src="" alt="">
                </div>
            </ul>
            <ul class="cards-list__item">
                <div class="cards">
                    <img class="cards__image" src="" alt="">
                </div>
            </ul>
        </li>
    </div>
    <button class="stone-btn" type="button">Варіант комп’ютера</button>
    <p class="stone-score">Рахунок:</p>
    <p class="stone-computer">Комп’ютер - 0</p>
    <p class="stone-you">Ви - 0</p>
</section>