<section class="three_numbers all"  data-type="Числовий">
  <hr>
  <div class="container">
    <h2 class="three_numbers__title">Введіть 3 числа</h2>
    <div class="three_numbers__container">
        <div class="three_numbers__num">
            <input
            type="number"
            id="number1"
            class="three_numbers__put_num_1"
            placeholder="Введіть число"
          />
          <input
            type="number"
            id="number2"
            class="three_numbers__put_num_2"
            placeholder="Введіть число"
          />
          <input
            type="number"
            id="number3"
            class="three_numbers__put_num_3"
            placeholder="Введіть число"
          />
        </div>
      <p class="three_numbers__biggest_num" id="result">Найбільше число, яке ви ввели -</p>
    </div>
  </div>
</section>
