 <section class="timeCalculator">
  <div class="container">
    <h2 class="timeCalculator__title">Калькулятор часу</h2>
    <div class="timeCalculator__info">
      <div class="timeCalculator__box--input">
        <input class="timeCalculator__input" placeholder="Введіть число" type="number" />
        <button class="timeCalculator__btn--input">
          <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>  
        </button>
      </div>
      <p class="timeCalculator__style">- - - - - - - - - - - - - </p>
      <p class="timeCalculator__paragraph">0дн 00:00:00</p>
    </div>
  </div>
</section>
