.calculator {
  font-family: "Montserrat Alternates", sans-serif;;

  margin-bottom:  36px;
  &__title {
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    margin-top: 36px;
  }

  &__put_num_1,
  &__put_num_2 {
    font-weight: 400;
    font-size: 12px;
    color: $greyForText;
    border-radius: 20px;
    padding: 10px 0px 10px 41px;
    width: 135px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: $grey;
    border: none;
    &::placeholder {
      position: relative;
      top: 5%;
      left: -25%;
    }
    
  }

  &__operations {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin-top: 10px;
  }

  &__operation_btn {
    border-radius: 20px;
    padding: 5px 10px;
    width: 27px;
    height: 25px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: $black;
    font-weight: 400;
    font-size: 12px;
    color: $white;
    border: none;
    border-bottom: none;
    
    &:hover {
      background-color: $grey;
      border-color: $black;
      cursor: pointer;
      .calculator__operation--icon {
        color: $black;
      }
      
    }
    &:active{
      background-color: $grey;
      border-color: $black;
    }
  }

  &__operations_div {
    margin-top: -23px;
  }

  &__result {
    border-radius: 20px;
    padding: 10px 20px;
    width: 118px;
    height: 35px;
    background: $grey;
    font-weight: 400;
    font-size: 12px;
    color: $greyForText;
    border: none;
  }
  &__container {
    justify-content: center;
    display: flex;
    gap: 38px;
    margin-top: 36px;
  }
  &__operation--icon {
    position: relative;
    top: 5%;
    left: -25%;
  }
}
