.football {
  margin: 0;
  overflow: hidden;
margin-bottom: 36px;
  &__main--text {
    margin: 30px 0 0 0;
  }

  &__main--text>h4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    margin: 0;
  }

  &__field {
    border: 2px solid $black;
    border-radius: 37px;
    width: 720px;
    height: 220px;
    background-color: $green;
    margin: 40px 0 0 0;
    position: relative;
    transform: translate(-50%, 0);
    top: 50%;
    left: 50%;
  }

  #ball {
    transition: transform 0.5s;
  }
}