.guessTheNumber {
  margin-bottom: 36px;

  &__title {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    margin-top: 39px;
  }

  &__block--input {
    margin-top: 37px;
    width: 150px;
    height: 35px;
    position: absolute;
  }

  &__input {
    color: #7e7e7e;
    width: 150px;
    height: 35px;
    background: #d7d7d7;
    border: none;
    border-radius: 20px;
    padding: 10px 0 10px 41px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat Alternates";
   

    &::placeholder {
      position: relative;
      top: 5%;
      left: -25%;
      margin-left: 3px;
    }



  }

  &__btn--input {
    width: 35px;
    height: 37px;
    background-color: $black;
    border-radius: 0 20px 20px 0;
    position: relative;
    right: 41px;
    cursor: pointer;



  }

  &__result {
    display: flex;
    margin: 0;
    top: 0;

    padding: 0;
    text-align: center;
    align-items: center;
    width: 362px;


  }

  &__info {
    height: 35px;
    padding-right: 0;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 36px;
    margin: 0;
    padding: 0;
  }
}