.leap-year {

  &__main--text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    padding: 0;
    margin: 50px;
    text-align: center;
  }

  &__search {
    background: $black;
    border-radius: 0 20px 20px 0;
    padding: 7px;
    position: absolute;
    transform: translate(-34px);
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding: 10px 45px 10px 10px;
  }

  &__input {
    padding: 0 45px 0 10px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    background: $grey;
    border-radius: 20px;
    position: relative;

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $black;
  }

  &__output {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: $dark-green;
  }
  //
  //&__output--2 {
  //  font-family: Montserrat, sans-serif;
  //  font-weight: 400;
  //  font-size: 12px;
  //  text-align: right;
  //  display: none;
  //  color: $red;
  //}
}

