.ourTeam {
    height: 338px;  
    margin-top: 36px;
  }
  .ourTeam__img {
    margin-top: 36px;
    height: 150px;
    max-width: 150px;
    border-radius: 20px;
  }
  .ourTeam__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ourTeam__block-title {
    margin-top: 20px;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 14px;

  }
  .ourTeam__block-text {
    margin-top: 20px;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 12px;

  }
  .ourTeam__title {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  .ourTeam__title-text {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 14px;

  }
  .ourTeam__menu-hr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 24px;
  }
  .ourTeam__hr {
    border-radius: 3px;
    width: 18px;
    height: 3px;
    background: #d9d9d9;
  }
  .active-hr {
    border-radius: 3px;
    width: 30px;
    height: 3px;
    background: #797979;
  }
  .slider {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    display: flex;
    justify-content: center;
    min-width: 100%;
    box-sizing: border-box;
  }
  .slide img {
    width: 100%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }