.scientist {
  padding: 36px 0;

  &__title {
    margin-bottom: 36px;
  }

  &__list {
    @include flex($wrap: wrap);
    row-gap: 59px;
    column-gap: 36px;
    margin-bottom: 36px;
    max-width: 577px;

    &-item {
      @include flex($direction: column);
      width: 100px;
      height: 100px;
      border-radius: 20px;
      background-color: #d9d9d9;
      p {
        font-size: 8px;
      }
    }
  }
  
  .inner-container {
    @include flex($direction: column, $wrap: wrap);
  }
}
.fact__list {
  @include flex($wrap: wrap);
  column-gap: 36px;
  row-gap: 20px;
  width: 100%;
  max-width: 770px;

  &-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #000;
    box-shadow: 3px 3px 0px 0px getColor('box-shadow');
    cursor: pointer;
    color: #fff;
    @include text();
  }
}

#name,
#birthYear,
.scientist__list-item,
#deathYear {
  color: getColor('background-text-primary');
  @include text(11px, 14px);
}

.whole-name,
.date {
  color: $black;
  display: flex;
  gap: 3px;
}
